body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

h1 {
  margin: 0;
}

#background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 12px;
}

.card .value {
  font-size: 24px;
}

.fire-warning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  font-size: 28px;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  border-radius: 12px;
  background-color: rgba(250, 143, 20, 0.842);
  color: #fff;
}
